---
layout: default
---
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/assets/home-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
              <h1>{{ site.name }}</h1>
              <hr class="small">
              <span class="subheading">{{ site.description }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

          {% for post in site.posts %}
          <article>
            <div class="post-preview">
              <a href="{{ post.url }}">
                <h2 class="post-title">
                  {{ post.title }}
                </h2>
              </a>
              <p class="post-meta">Posted by Anthony Smith on {{ post.date | date: "%-d %B %Y" }} | <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}">Comments</a></p>

{% if post.description %}{{ post.description | smartify }}{% else %}{{ post.content | markdownify | strip_html | truncate: 155 }}{% endif %}

            </div>
          </article>
          <hr>
          {% endfor %}

{% include addtoany.html %}

        </div>
      </div>
    </div>
